<!DOCTYPE html>
<html>
    <head>
        <title>intro</title>
    </head>
       <link rel="stylesheet" type="text/css" href="intro.css">
    <body>
        <table>
            <thead>
                <tr id="r00">
                    <th id="c01"></th>
                    <th id="c02">introdoction</th>
                    <th id="c03"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="r01">
                    <td id="c11"></td>
                    <td id="c12">
                        <p>this is the intro</p>
                    </td>
                    <td id="c13"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>